[core]
  editor = vim

[alias]
  hist = log --pretty=format:\"%C(yellow)%h%Creset %C(cyan)%ad%Creset %s [%Cgreen%an%Creset]\" --graph --date=short
[user]
  email = tranceway@gmail.com
  name = Ignacio Benedetti
[init]
  defaultBranch = main
